.change-month {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 20px;
}

h3 {
    text-align: center;
    background: -webkit-linear-gradient(#ac21cf, #31095e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
    margin-top: 50px;
}

.change-month button {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 10%, rgba(177, 62, 207, 1) 100%, rgba(252, 69, 252, 1) 100%);
    color: #fff;
    border-radius: 10px;
    border: none;
padding: 10px 10px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;

}