
.row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.content{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.image-div img{
    margin-left: auto;
    margin-right: auto;
}
