<div class="main-content">
    <h1> All projects</h1>
</div>
<table class="table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Project client</th>
        <th>Project start-date</th>
        <th>Project end-date</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name }}</td>
        <td>{{ project.client }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.end_date }}</td>
        <td>
            <button type="button" class="details" [routerLink]="['/project-details', project.id]">
                Details</button></td>
      </tr>
    </tbody>
  </table>
  