<!--<div class="row ml-auto mr-auto">
    <div class="col-sm">
      <h2>Completed Tasks:</h2>
      <div *ngFor="let task of tasks">
        <ng-container *ngIf="task.completed">
          <p>{{ task.task_name }}</p>
          <p>{{ task.date }}</p>
          <p>{{ task.type }}</p>
          <p>{{ task.user }}</p>
        </ng-container>
      </div>
    </div>
    
    <div class="col-sm">
      <h2>Uncompleted Tasks:</h2>
      <div *ngFor="let task of tasks">
        <ng-container *ngIf="!task.completed">
          <p>{{ task.task_name }}</p>
          <p>{{ task.date }}</p>
          <p>{{ task.type }}</p>
          <p>{{ task.user }}</p>
        </ng-container>
      </div>
    </div>
  </div>-->
  <div class="row tasks-div">
    <div class="col-lg-5 col-sm-12 mr-auto ml-auto ">
        <h2>To do tasks:</h2>
        <div  *ngFor="let task of tasks" class="todo-list">
            <ng-container *ngIf="!task.completed">
              <p>{{ task.task_name }}</p>
              <p>{{ task.date }}</p>
              <p>{{ task.type }}</p>
              <p>{{ task.user }}</p>
            </ng-container>
          </div>
    </div>
    <div class="col-lg-5 col-sm-12 mr-auto ml-auto completed-list">
        <h2>Completed Tasks:</h2>
        <div *ngFor="let task of tasks">
            <ng-container *ngIf="task.completed">
              <p>{{ task.task_name }}</p>
              <p>{{ task.date }}</p>
              <p>{{ task.type }}</p>
              <p>{{ task.user }}</p>
            </ng-container>
          </div>
    </div>
  </div>