/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.modal-content{
    background: rgb(131, 58, 180)!important;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 10%, rgba(177, 62, 207, 1) 100%, rgba(252, 69, 252, 1) 100%)!important;
border-color: white;
color: #fff;
font-family: 'Montserrat', sans-serif;
transition: box-shadow 0.3s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border: none;
}
.modal-content button{
    border: 1px solid white;
    border-color: white;
    color: #fff;
}
.modal-content .close{
    border:none;
    color: #fff;
}
.modal-header, .modal-footer{
    border: none;
}
